<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Titul blogu</title>
</head>
<body>
<main class="container">
        <div class="detail">
            <div class ="detail">
                <div th:each="post: ${post}">
                <div class="title" th:utext="${post.title}">Title</div>
                <div class="perex" th:utext="${post.perex}">Perex</div>
                <div class="author" th:utext="${post.author}">Author</div>
                <div class="published" th:utext="${post.published}">Published</div>
                <div class="body" th:utext="${post.body}">Body</div>
                <a href="/">Zpět</a>
            </div>
            </div>
        </div>
</main>
</body>
</html>
