<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Titul blogu</title>
</head>
<body>
<body>
<main class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Slug</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Perex</th>
            <th scope="col">Body</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${post}">
            <td th:text="${post.slug}">slug</td>
            <td th:text="${post.author}">author</td>
            <td th:text="${post.title}">title</td>
            <td th:text="${post.perex}">perex</td>
            <td th:text="${post.body}">body</td>
            <td th:text="${#temporals.format(post.published)}">date</td>

            <!--            <td class="d-flex justify-content-end"><a href="/1" th:href="@{/{id}(id=${osoba.id})}"-->
            <!--                                                      class="btn btn-primary">Detail</a></td>-->
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
