<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<main class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Slug</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Perex</th>
            <th scope="col">Body</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${post}">
            <td th:utext="${post.slug}">slug</td>
            <td th:utext="${post.author}">author</td>
            <td th:utext="${post.title}">title</td>
            <td th:utext="${post.perex}">perex</td>
            <td th:utext="${post.body}">body</td>
            <td th:utext="${#temporals.format(post.published)}">date</td>

        <a th:href="@{/post/{slug}(slug=${post.slug})}" class="button">Read</a>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
